# Ignore node_modules directories
node_modules/
**/node_modules/

# Ignore environment variable files
.env

# Ignore specific sensitive files
apiKey.js

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store